.cabeçalho {
background-color:#4791A7;
color: #A4CE95;
display:flex;
justify-content: space-around;
}
.cabeçalho-título {
    color:#4791A7;
}

.cabeçalho-lista{
    color: #5da747;
   }

.cabeçalho-imagem{
    width: 20%;
}
