.cabeçalho {
 background-color:#4791A7;
display: flex;
padding: 24px 0;

color: #A4CE95;
display:flex;
padding: 34px 0;

justify-content: space-around;
}
.cabeçalho-título {
    color:#eb3b0f;
    font-size: 44px;
}

.cabeçalho-lista{
    color: #40f00b;
    font-size: 24px;
   }

.cabeçalho-imagem{
    width: 20%;
    height: 10%;
}
